body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

#form {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: auto;
    border-radius: 4px;
    font-size: 12px;
}

#form h1{
    text-align: center;
}

.input-control {
    display: flex;
    flex-direction: column;

    
}

.radio {
    display: flex;
}

.check {
    display: flex;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    padding: 10px;
    font-size: 12px;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}